/* .member-cards {
    align-items: center;
    text-align: center;
    padding:    5px;
    margin:     5%;
}
.member-card {
    display: block;
    margin: 10px auto;
    padding: auto;
    max-width:  30%;
}
.member-card img {
    width: 50%;
    display: block;
    margin: 0 auto;
    height: auto;
}
.member-image {
    max-width:  25%;
    height: 25%;
}
#member-image {
    max-width:  50%;
    height: 50%;
} */