/* 모달 팝업창 스타일*/
.member-modal {
    max-width:   50% !important;
    max-height:  75% !important;
    overflow-y: auto;                       /* SCROLL 기능 */
}
/* 깃허브와 블로그 아이콘 */
.modal-icons {
    font-size: 0;           /* 찌꺼기 제거 */
}
.icon {
    width:  50px;
    height: 50px;
    margin: 10px;
}
/* 기본 버튼: 테두리없이 둥글기 */
.button-basic {
    border: none;       /* 테두리 제거 */
    border-radius: 10px; /* 둥근 사각형 */
    width:  80px;
    height: 80px;
    box-sizing: border-box;
}
/* 어드민 버튼 */
.button-admin {
    position: absolute; 
    top: 5%; 
    right: 15%;
}
/* 홈 버튼 수정하기 버튼, 저장하기 버튼 */
.button-home, .button-edit, .button-save {
    position: absolute; 
    top: 5%; 
    right: 5%;
}

/* 이미지: 수정하기 버튼, 저장하기 버튼 */
.img-button-edit, .img-button-save {
    width: 50px;
    height: 50px;
}
/* 멤버 카드 섹션*/
.member-cards {
    align-items: center;
    text-align: center;
    padding:    5px;
    margin:     5%;
}
/* 멤버 카드 단일 객체 */
.member-card {
    display: block;
    margin: 10px auto;
    padding: auto;
    max-width:  30%;
}
.member-card img {
    width: 50%;
    display: block;
    margin: 0 auto;
    height: auto;
}
/* 전체 팀원 소개의 멤버 이미지 */
.member-image {
    max-width:  25%;
    height: 25%;
}
/* 모달창 내의 멤버 이미지 */
#member-image {
    max-width:  50%;
    height: 50%;
}