<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>하던 NomDeul을 응원해주셔서 감사합니다.</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .justify-content-center {
            margin-bottom: 50px;
        }

        .all_comments {
            height: 700px;
            background-color: skyblue;
        }

        .cheer-date {
            font-size: xx-small;
        }
    </style>
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-app.js";
        import { getFirestore } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-firestore.js";
        import { collection, addDoc } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-firestore.js";
        import { getDocs } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-firestore.js";

        const firebaseConfig = {
            apiKey: "AIzaSyC8OlC6t8SQVKaZANQF-9X0h27gb7Vn0gI",
            authDomain: "sparta-9f9c6.firebaseapp.com",
            projectId: "sparta-9f9c6",
            storageBucket: "sparta-9f9c6.appspot.com",
            messagingSenderId: "215357385306",
            appId: "1:215357385306:web:5bb59bde3e695427f8c663",
            measurementId: "G-RZK2Q7334C"
        };
        // Firebase 인스턴스 초기화
        const app = initializeApp(firebaseConfig);
        const db = getFirestore(app);

        //응원과 응원한 사람을 저장할 db 이름: cheer_list
        $("#cheer_button").click(async function () {
            let name = $(`#cheer_user_name`).val();
            let comment = $(`#cheer_comment`).val();
            let time = new Date();
            let year = time.getFullYear();
            let month = time.getMonth();
            let date = time.getDate();
            let day = time.getDay();
            let week = ['일', '월', '화', '수', '목', '금', '토'];

            let hours = time.getHours();
            let minutes = time.getMinutes();
            let seconds = time.getSeconds();
            //작성 날짜 계산
            let now = `${year}년 ${month + 1}월 ${date}일 ${week[day]}요일 ` +
                `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;
            console.log(name, comment, now);

            //공란이 있으면 저장 안 함.
            if (name == "") {
                alert("닉네임을 입력해주세요!");
            }
            else if (comment == "") {
                alert("응원을 적어주세요!");
            }
            else {
                let doc = {
                    'cheer_date': now,
                    'cheer_user_name': name,
                    'cheer_comment': comment
                };
                await addDoc(collection(db, "cheer_list"), doc);
                alert("저장 완료!");
            }

            window.location.reload();
        });

        let docs = await getDocs(collection(db, "cheer_list"));
        docs.forEach((doc) => {
            let row = doc.data();

            let date = row['cheer_date'];
            let name = row['cheer_user_name'];
            let comment = row['cheer_comment'];

            let temp_html = `
                <div class="row align-items-end">
                    <div class="col list-group-item cheer-date">${date}</div>
                    <div class="col list-group-item">${name}</div>
                    <div class="col-8 list-group-item">${comment}</div>
                </div>`;
            $(`#cheer_records`).append(temp_html);
        });
    </script>
</head>

<body>
    <div>
        <!-- 홈버튼 -->
        <a href="../main_home.html" target="_self" class="nav justify-content-end button-home"><img
                src="../static/img/icon-home.png" alt="FAILED TO LOAD Home Icon" class="icon" width="30"
                height="24" /></a>
        <span class="nav justify-content-center">방명록</span>

    </div>

    <!--방명록 보여주는 공간-->
    <div class="container text-center all_comments" id="cheer_records">
    </div>

    <!--응원 입력 칸-->
    <div class="input-group mb-3" id="cheerup">
        <input class="input-group-text" placeholder="닉네임을 입력하세요." id="cheer_user_name"></input>
        <textarea class="form-control" placeholder="응원의 한 마디를 남겨주세요!" id="cheer_comment"></textarea>
        <button class="btn btn-outline-secondary" type="button" id="cheer_button">게시</button>
    </div>
</body>

</html>